<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Latihan Aplikasi</title>
  </head>
  <body>
    <footer
      style="
        background-color: #f8f9fa;
        padding: 20px;
        text-align: center;
        border-top: 1px solid #ddd;
      "
    >
      <p style="font-size: 18px; font-weight: bold">RSUD MAJALENGKA</p>
      <nav>
        <a
          href="index.html"
          style="margin: 0 10px; text-decoration: none; color: #007bff"
          >Home</a
        >
        <a
          href="about.html"
          style="margin: 0 10px; text-decoration: none; color: #007bff"
          >Beranda</a
        >
        <a
          href="services.html"
          style="margin: 0 10px; text-decoration: none; color: #007bff"
          >Layanan</a
        >
        <a
          href="contact.html"
          style="margin: 0 10px; text-decoration: none; color: #007bff"
          >Kontak</a
        >
      </nav>
      <p style="margin-top: 10px; font-size: 14px; color: #666">
        &copy; 2025 KOperasi Pegawai. Semua Hak Dilindungi.
      </p>
    </footer>
  </body>
</html>
