<header
  style="
    background-color: #007bff;
    padding: 10px;
    color: white;
    text-align: lift;
  "
>
  <h1>RSUD MAJALENGKA</h1>
</header>

<nav
  style="
    position: fixed;
    top: 10, 5%;
    height: calc(100vh - 100px);
    width: 100px;
    background-color: #0056b3;
    padding: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
  "
>
  <a
    href="index.html"
    style="
      margin: 20px 0;
      text-decoration: none;
      color: white;
      font-weight: bold;
    "
    >Beranda</a
  >
  <a
    href="login.html"
    style="
      margin: 20px 0;
      text-decoration: none;
      color: white;
      font-weight: bold;
    "
    >Login</a
  >
  <a
    href="../menu/sales.php"
    style="
      margin: 20px 0;
      text-decoration: none;
      color: white;
      font-weight: bold;
    "
    >Sales</a
  >
  <a
    href="customer.php"
    style="
      margin: 20px 0;
      text-decoration: none;
      color: white;
      font-weight: bold;
    "
    >Customer</a
  >
  <a
    href="petugas.php"
    style="
      margin: 20px 0;
      text-decoration: none;
      color: white;
      font-weight: bold;
    "
    >Petugas</a
  >
  <a
    href="manager.php"
    style="
      margin: 20px 0;
      text-decoration: none;
      color: white;
      font-weight: bold;
    "
    >Manager</a
  >
</nav>
